<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="./css/login.css">
</head>
<body>
  <header class="header">
    <img class="header__img" src="../material/logo.png" alt="logo página">
  </header>

  <section class="login">
    <section class="login__container">
      <h2>Inicia sesión</h2>

      <from class="login__container--form">
        <input class="input" type="text" placeholder="Correo">
        <input class="input" type="password" placeholder="Contraseña">
        <buttom class="button">Iniciar sesión</buttom>

        <div class="login__container--remember-me">
          <label>
            <input type="checkbox" id="cbox1" value="checkbox"> Recordar Sesión
          </label>

          <a href="">Olvidé mi contraseña</a>
        </div>
      </from>

      <section class="login__container--social-media">
        <div><img src="../material/icons8-google-plus-50.png" alt="Google Plus"> Inicia sesión con Google </div>
        <div><img src="../material/icons8-twitter-50.png" alt="Twitter"> Inicia seción con Twitter</div>
      </section>
      
      <p class="login__container--register">¿No tienes ninguna cuenta? <a href="">Regístrate</a> </p>
    </section>
  </section>

  <footer class="footer">
    <a href="">Términos de uso</a>
    <a href="">Declaración de privacidad</a>
    <a href="">Centro de ayuda</a>
  </footer>
</body>
</html>

